img {
  height: 100vh;
  width: 412.2px; /*
  549.6 x 824 - 80 % of original
  412.2 x 618 - 60 % of original
  274.8 x 412 - 40 % of original
  171.75 x 257.5 - 25 % of original
  */
}

body {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 900px;
  width: 900px;
  padding: 0;
  margin: 0;
}

.imagine {
  height: 100%;
  padding-right: 30px;
  flex: 1;
}
.heading {
  padding-top: 50px;
  font-size: 1.2rem;
  flex: 1;
  width: min-content;
  overflow-wrap: normal;
  word-wrap: break-word;
  white-space: normal;
}
.form {
  flex: auto;
  width: 400px;
  height: 400px;
}
.btnClass {
  flex: 1;
}

#odinLogo {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 150px;
  left: 80px;
  z-index: 2;
}
.bacLogoColor {
  display: none;
}
.odin {
  font-family: cursive;
  position: absolute;
  top: 80px;
  left: 170px;
  z-index: 2;
  color: white;
  font-size: 5rem;
}

@media (min-width: 1000px) {
  img {
    height: 100vh;
    width: 687px;
  }

  .heading {
    width: fit-content;
  }
  .imagine {
    padding-right: 60px;
  }
  #odinLogo {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 150px;
    left: 80px;
    z-index: 2;
  }
  .bacLogoColor {
    display: none;
  }
  .odin {
    font-family: cursive;
    position: absolute;
    top: 60px;
    left: 220px;
    z-index: 2;
    color: white;
    font-size: 7rem;
  }
}

@media (max-width: 500px) {
  body {
    height: 95vh;
    width: min-content;
    display: flex;
    flex-wrap: wrap;
  }
  img {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 171.758px;
  }
  .heading {
    font-size: 0.7rem;
    width: min-content;
  }
  #odinLogo {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 150px;
    left: 30px;
    z-index: 2;
  }
  .bacLogoColor {
    display: none;
  }
  .odin {
    font-family: cursive;
    position: absolute;
    top: 124px;
    left: 75px;
    z-index: 2;
    color: white;
    font-size: 2rem;
  }
  .imagine {
    padding-right: 5px;
  }
} ;
